

<div class="container text-center bg-primary p-2" style="--bs-bg-opacity: .1;">
        
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <img class="mb-4" src="https://i.imgur.com/2emkQG7.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please Register here</h1>


      <div class="form-floating">
        <input type="name" class="form-control" formControlName="name" id="floatingInput1" placeholder="name here" required>
        <label for="floatingInput1"><h5 class="text-info">Name</h5></label>
      </div>
  
      <div class="form-floating">
        <input type="email" class="form-control" formControlName="email" id="floatingInput2" placeholder="name@example.com" required>
        <label for="floatingInput2"><h5 class="text-info">Email address</h5></label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword1" placeholder="Password" required>
        <label for="floatingPassword1"><p class="text-muted"> Password</p></label>
      </div>
  
      <div class="checkbox mb-3">
        
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign UP</button>
      <p class="mt-5 mb-3 text-muted">&copy; Alessio Fiol</p>
    </form>

  
</div>