


    <div class="container text-center bg-primary p-2" style="--bs-bg-opacity: .1;">
        
      <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <img class="mb-4" src="https://i.imgur.com/2emkQG7.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput"> <p class="text-info">Email address</p> </label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Alessio Fiol</p>
      </form>

    
</div>
        
