
<body style="
background-image: url('https://i.imgur.com/TJ88bAC.jpg?1');
background-size: 100% auto;

">



<form novalidate (ngSubmit)="onSubmit()" [formGroup]="mealform">
    
    <div class="container row">
        
        <div class="container col-md-8">
<table class="table table-hover">
   <thead>
       <tr>
           <th></th>
           
       </tr>
   </thead>
   <tbody>
    <th><h4>bread</h4></th>
       <tr *ngFor="let item of breadSelector"> 
       <th>
           <input
           type="checkbox"
           class="breadlist"
           [checked]="item.select"
           [value]="item.bread"
           (change)="onchangefood($event)"
           >
       </th>
       <td>{{item.bread}}</td>
    </tr>
    <th><h4>meats</h4></th>
    <tr *ngFor="let item of meatsSelector"> 
        <th>
            <input
            type="checkbox"
            [checked]="item.select"
            [value]="item.meats"
            (change)="onchangefood($event)"
            >
        </th>
        <td>{{item.meats}}</td>
     </tr>
     <th><h4>sauces</h4></th>
    <tr *ngFor="let item of saucesSelector"> 
        <th>
            <input
            type="checkbox"
            [checked]="item.select"
            [value]="item.sauces"
            (change)="onchangefood($event)"
            >
        </th>
        <td>{{item.sauces}}</td>
     </tr>
     <th><h4>extras</h4></th>
    <tr *ngFor="let item of extrasSelector"> 
        <th>
            <input
            type="checkbox"
            [checked]="item.select"
            [value]="item.extras"
            (change)="onchangefood($event)"
            >
        </th>
        <td>{{item.extras}}</td>
     </tr>
   </tbody>
</table>
</div>

<button class="btn btn-primary" type="submit" ><p></p>
    Register
    <p></p>
</button>

</div>
  
</form>
</body>