  <!-- NAVBAR -- menu  -->


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
   
  
    <div class="container">
      
        <a class="navbar-brand text-wrap" >Made My Meals</a>
        <a class="navbar-brand " >
          <img src="https://i.imgur.com/2emkQG7.png" class="rounded float-start" alt="" width="80" height="60">
        </a>  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="">Home</a>
            </li>
            <li   class="nav-item">
              <a *ngIf="!this.authservice.isLoggedin()" class="nav-link" aria-current="page" routerLinkActive="active" routerLink="signin">Sign In</a>
            </li>
            <li  class="nav-item">
              <a  *ngIf="!this.authservice.isLoggedin()" class="nav-link" aria-current="page" routerLinkActive="active" routerLink="registerUser">Register</a>
            </li>
             <li class="nav-item">
              <a *ngIf="this.authservice.isLoggedin()" class="nav-link"aria-current="page" routerLinkActive="active" routerLink="user-profile/:id">My Profile</a>
            </li>
           
            <li class="nav-item" >
              <a *ngIf="this.authservice.isLoggedin()" class="nav-link" (click)="logout()" role="button" >Logout</a>
            </li>
  
          </ul>
          
          <button type="button" routerLink="meal" class="btn btn-danger btn-lg">Create! + </button>
        
        </div>
      </div>
    </nav>
  
    <!--                fin navbar                                                                                          -->
  
  
  








  
  